/* .App {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  
} */

.submit-form {
  width: 70%;
  display: flex;
  justify-content: center;
  /* align-items: c; */

  padding: 1rem 5rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
};
 
.label {
  padding: 0 2rem;
}

.submit-form input {
  border: 2px solid black;
}

/* 정렬 */
.sort-buttons {
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* 리스트 */
.item-list {
  width: 70%;
}

table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid gray;
  padding: 0.5rem;
}